@model IEnumerable<EmployeeViewModel>

@{
    ViewData["Title"] = "Pracownicy";
}

<link rel="stylesheet" href="~/css/Popup.css" />

<h1>@ViewData["Title"]</h1>

<div class="topPanel">
    <button id="employeePopupBTN">Dodaj pracownika</button>
    <button id="taskPopupBTN">Dodaj zadanie</button>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SecondName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoleString)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
            <th>
                Akcja
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <th>
                @Html.DisplayFor(modelItem => item.Id)
            </th>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SecondName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoleString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<div id="myPopupEmployee" class="popup">

    <div class="popup-content">    

        <h3>Dodawanie pracownika</h3>

        <form id="empoyeePopup" action="">

            <label>Imię </label>
            <input type="text" id="firstName" placeholder="Imię pracownika">

            <label>Nazwisko </label>
            <input type="text" id="secondName" placeholder="Nazwisko pracownika">

            <label>Email </label>
            <input type="text" id="email" placeholder="Email pracownika">

            <label>Stanowisko </label>
            <select id = "position">
                <option value=10>Programista</option>
                <option value=20>QA</option>
                <option value=30>Menadżer projektu</option>
            </select>
        
            <div class="btnPanel">
                <input type="submit" class="addEmployeeBTN" value="Dodaj">
                <input type="button" class="closeEmployeeBTN" value="Anuluj">
            </div>

        </form>
    </div>

</div>

<div id="myPopupTask" class="popup">

    <div class="popup-content" id="popupTaskWindow">    

        <h3>Dodawanie zadania</h3>

        <form id="taskPopup" action="">

            <label>Nazwa zadania </label>
            <input type="text" id="taskName" placeholder="Nazwa zadania">

            <label>Opis</label>
            <textarea type="text" id="taskDescription" placeholder="Opis zadania"></textarea>

            <label>Data wykonania zadania</label>
            <input type="date" id="taskFinishDate">

            <label>Status </label>
            <select id = "taskState">
                <option value=100>Nowy</option>
                <option value=200>W realizacji</option>
                <option value=300>Przywrócony</option>
                <option value=400>W testach</option>
                <option value=500>Do wyjaśnienia</option>
                <option value=600>Zakończony</option>
                <option value=700>Wycofany</option>
            </select>

            <label>Pracownik</label>
            <select id="taskEmployeeList">

            </select>
        
            <div class="btnPanel">
                <input type="submit" class="addTaskBTN" value="Dodaj">
                <input type="button" class="closeTaskBTN" value="Anuluj">
            </div>

        </form>
    </div>

</div>

<script>

    //Employee popup js

    var popupEmployee = document.getElementById("myPopupEmployee");
    var btnEmployee = document.getElementById("employeePopupBTN");
    var closeEmployeeBtn = document.getElementsByClassName("closeEmployeeBTN")[0];
    var addEmployeeBtn = document.getElementsByClassName("addEmployeeBTN")[0];

    btnEmployee.onclick = () => {
        popupEmployee.style.display = "block";
    }

    closeEmployeeBtn.onclick = () => {
        popupEmployee.style.display = "none";
    }

    addEmployeeBtn.onclick = () => {
        var data = {
            FirstName: document.getElementById("firstName").value,
            SecondName: document.getElementById("secondName").value,
            Email: document.getElementById("email").value,
            Role: +document.getElementById("position").value
        };

        $.ajax({
            async: false,
            type: 'POST',
            url: '/Employee/Add',
            data: JSON.stringify(data),
            contentType: 'application/json',
            dataType: 'json',
            success: function (response) {
                if (response) {
                    alert("Dodano pracownika");
                }
                else {
                    alert("Nie dodano pracownika");
                }
                ;
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }
    
    //Task popup js

    var popupTask = document.getElementById("myPopupTask");
    var btnTask = document.getElementById("taskPopupBTN");
    var closeTaskBtn = document.getElementsByClassName("closeTaskBTN")[0];
    var addTaskBtn = document.getElementsByClassName("addTaskBTN")[0];

    btnTask.onclick = () => {
        popupTask.style.display = "block";

        $.ajax({
            async: false,
            type: 'GET',
            url: '/Employee/GetAllIdsWithFullName',
            contentType: 'application/json',
            dataType: 'json',
            success: function (response) {
                var employeesList = CreateEmployeeTaskList(JSON.parse(response));
                document.getElementById("taskEmployeeList").innerHTML = employeesList;
            },
            error: function (response) {
                alert(response.responseText);
            }
        });
    }

    closeTaskBtn.onclick = () => {
        popupTask.style.display = "none";
    }

    function CreateEmployeeTaskList(employeeList) 
    {
        var content = "";

        for (i = 0; i < employeeList.length; i++) 
        {
            content += '<option value = "' + employeeList[i].Id + '">' + employeeList[i].FullName + '</option>';
        }
        
        return content;
    }

    addTaskBtn.onclick = () => {
        
        alert(document.getElementById("taskFinishDate").value);

        var data = {
              Title: document.getElementById("taskName").value,
              Description: document.getElementById("taskDescription").value,
              FinallDate: new Date(document.getElementById("taskFinishDate").value).toISOString(),
              EmployeeId: +document.getElementById("taskEmployeeList").value,
              TaskState: +document.getElementById("taskState").value
        };

        alert(new Date(document.getElementById("taskFinishDate").value).toISOString());

        $.ajax({
            async: false,
            type: 'POST',
            url: '/Task/Add',
            contentType: 'application/json',
            data: JSON.stringify(data),
            dataType: 'json',
            success: function (response) {
                if (response) {
                    alert("done");
                }
            },
            error: function(response) {
                alert(response.responseText);
            }
        });

    }

</script>